<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no,initial-scale=1,width=device-width">
    <title>TMON :: 대화창</title>
    <link rel="stylesheet" href="../../css/test.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/controllers.js"></script>
    <script src="../js/directives.js"></script>
    <script src="../js/services.js"></script>
    <script src="../js/friendList.js"></script>
</head>
<body class="list_wrap" ng-app="chatApp">
<section class="ct" ng-controller="Controller">
    <h1 class="skip">채팅페이지</h1>
    <a href="list.html"><button type="button" class="chatting_button backpage"><span class="skip">이전페이지</span></button></a>
    <div class="container">
        <div class="container_overflow">
            <ul class="chatting_wrap">

            </ul>
        </div>
    </div>
    <div class="chatting_box">
        <textarea ng-model="chatData" class="chatting_input" ng-keypress="enter($event,chatData);"></textarea>
        <button type="button" class="chatting_button" ng-click="sendChat(chatData)"><span class="skip">보내기</span></button>
    </div>
</section>
</body>
</html>
